{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}You must agree to the terms and conditions.{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="radio text-left">
        <label for="agree">Do you agree to the terms and conditions defined in the volunteer protocol?</label><br>
            <div class="content_section"><object data="{{ url_for('static', filename='Protocol_Volunteer.pdf')}}" type="application/pdf" style="min-height:100vh;width:100%"></object></div>
        <input type="radio" name="agree" id="agree" value="1"> I agree <br>
        <input type="submit" value="Submit">
    </div>
</form>

{% endblock %}
