{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Please give us some information to submit your new request{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
  <form method="post">
    <label for="email">Please confirm your email</label>
    <input name="email" id="email" placeholder="Email..." required>
    <label for="type">Please tell us what kind of assistance you need</label>
    <input name="type" id="type" placeholder="Type of assistance needed..." required>
    <input type="submit" value="Confirm">
  </form>
    </div>
{% endblock %}